body{
    font-family:Arial,sans-serief;
    text-align: center;
    padding: 20px;
    background: #f4f4f4;
}
h1{
    color:#333;
}
section{
    background: rgb(34, 170, 102);
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
input,button{
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}
button{
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background: #0056b3;
}
#weather{
    margin-top: 20px;
    font-size: 18px;
}